<main style="text-align:center">
  <header>
    <h1>
      Willkommen bei {{ title }}!
    </h1>
    <p>{{subtitle}}</p>
  </header>
  <p>Unsere Pizza ist eine ganz eigene Kreation, die es sonst nirgends gibt. Nicht umsonst sind wir kein echter Pizzaservice, sondern eine reine Fiktion, um die Funktionsweise einer Bibliothek zur Internationalisierung zu demonstrieren. So backen wir unsere Pizzakreationen nicht selbst, sondern pflücken sie von einem fiktiven Baum. Mancher fragt sich nun vielleicht, wie die Pizza an den Baum kommt. Nun, darauf haben nicht einmal wir eine Antwort. <strong>Die Hauptsache ist</strong>, dass alle unsere Pizzen <em>mit viel Liebe zum Detail</em> über den Ladentisch geschoben werden. Das Ganze ist etwa genauso sinnlos wie dieser Text oder jeglicher Versuch, uns in unserer Einzigartigkeit nachzuahmen.</p>
  <h1>Online-Bestellung</h1>
  <p>Wählen Sie aus unserem reichhaltigen Angebot.</p>
  <form method="GET" class="order">
    <div class="meals">
      <fieldset class="meal" *ngFor="let meal of meals; let m=index">
        <legend>{{meal.name}}</legend>
        <p><img src="{{meal.icon}}"/><span>{{meal.description}}</span></p>
        <input type="hidden" name="names[{{m}}]" value="{{meal.name}}"/>
        <p *ngIf="meal.extras.length>0">Wählen Sie zusätzlich aus folgenden Extras:</p>
        <ul *ngIf="meal.extras.length>0">
          <li *ngFor="let extra of meal.extras">
            <input type="checkbox" name="extras[{{m}}]" value="{{extra}}"/><span>{{extra}}</span>
          </li>
        </ul>
        <p>Gewünschte Anzahl: <input type="number" name="quantity[{{m}}]" value="0"/></p>
      </fieldset>
    </div>
    <fieldset class="buttons">
      <button>Bestellung aufgeben →</button>
    </fieldset>
  </form>
</main>

